
{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>John Doe</h2>
                <div class="profile-status">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-img w-100 img-responsive center-block">
                <div class="profile-label">
                    <span class="label label-danger">Admin</span>
                </div>

                <div class="profile-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Super User</span>
                </div>

                <div class="profile-since">
                    Member since: Jan 2012
                </div>

                <div class="profile-details">
                    <ul class="fa-ul">
                        <li><i src="public/assets/medaille-d'or (1).png"></i>Création de challenge: <span>456</span></li>
                        <li><i src="public/assets/medaille-d'argent.png"></i>Correcteur: <span>828</span></li>
                        <li><i src="public/assets/medaille-de-bronze.png"></i>Challenge: <span>1024</span></li>
                    </ul>
                </div>

                <div class="profile-message-btn center-block text-center">
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Send message
                    </a>
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Send message
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                    </a>
                </div>

                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-value">
                                John
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-value">
                                Doe
                            </div>
                        </div>
                      
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                johndoe@bootdey.com
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-twitter-square"></i><a href="#">@scjohansson</a></li>
                            <li><i class="fa-li fa fa-linkedin-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-facebook-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-skype"></i><a href="#">Black_widow</a></li>
                            <li><i class="fa-li fa fa-instagram"></i><a href="#">Avenger_Scarlett</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class=""><a href="" data-toggle="tab">Challenge créer</a></li>
                        <li><a href=" {{ path('challenge_index') }}" data-toggle="tab">Mes challenges</a></li>
                        <li><a href="{{ path('profile_pending') }}" data-toggle="tab">Mes corrections</a></li>
                    </ul>

                        <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-activity">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for challenge in app.user.getChallenges %}
                                        <tr>
                                            <td class="text-center">
                                                
                                            </td>
                                            <td>
                                                John Doe has created a challenge <a href="#"> {{ challenge.title }}</a>
                                            </td>
                                            <td>
                                                {{ challenge.createdAt |date('d/m/Y')  }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                       
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    
                    

{% endblock %}
