{% extends 'base.html.twig' %}
{% block body %}


<section>
<style>
.comment-furkan{
    color: black;
}
</style>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Lien vers la solution de DUPONT Rémi</h1>
                <a href="http://"><h4>https://github.com/JohnDoe/Challenge-Angular</h4></a>
                <div class="comment mt-4 text-justify float-left comment-furkan"> <img src="https://novelas-magazine.com/wp-content/uploads/2020/12/Furkan-Andic-.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>JEAN Rémi</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="text-justify darker mt-4 float-right comment-furkan"> <img src="https://www.leparisien.fr/resizer/iN2tTjJPxJb1wsW9ntLBKMR6QS4=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/ZNYF6PYBSVPAM5PJI655HMAVOM.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>ROB Simpson</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="comment mt-4 text-justify comment-furkan"> <img src="https://pic.clubic.com/v1/images/1852067/raw?fit=smartCrop&height=795&width=1060&hash=0e9ffe9e11cd88459411a553ec966c49ce915d64" alt="" class="rounded-circle" width="40" height="40">
                    <h4>RICARD Robert</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
                <div class="darker mt-4 text-justify  comment-furkan"> <img src="https://cdn1.benouaiche.com/wp-content/uploads/2018/12/homme-medecine-chirurgie-esthetique-dr-benouaiche-paris.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>RICHARD Simpson</h4> <span>- 20 October, 2018</span> <br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4> <label for="message">Message</label> <textarea name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                    </div>
                    <div class="d-flex">
                        <div class="form-group w-100"> <a href="/profile/pending" id="post" class="btn btn-success">Accept</a></div>
                        <div class="form-group w-100"> <button type="button" id="post" class="btn btn-danger">Refuse</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}