<div class="container-fluid fiverr-header">
	<header class="d-flex flex-wrap justify-content-center py-3 px-5 ">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
		</a>
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="{{ path('profile_show') }}" class="nav-link" aria-current="page">profile</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('challenge_index') }}" class="nav-link">Challenge</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_login') }}" class="nav-link">login</a>
			</li>
        </ul>

</header>
</div>